// Left side column. contains the logo and sidebar
aside.left-side.sidebar-offcanvas
    // sidebar: style can be found in sidebar.less
    section.sidebar
        // Sidebar user panel
        .user-panel
            .pull-left.image
                img.img-circle(src='/images/avatar3.png', alt='User Image')
            .pull-left.info
                p Hello, Jane
                a(href='#')
                    i.fa.fa-circle.text-success
                    |  Online
        // sidebar menu: : style can be found in sidebar.less
        ul.sidebar-menu
            li.active
                a(href='/')
                    i.fa.fa-dashboard
                    span Dashboard
            li.treeview
                a(href='#')
                    i.fa.fa-folder
                    span Examples
                    i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a(href='/login')
                            i.fa.fa-angle-double-right
                            |  Login
                    li
                        a(href='/404')
                            i.fa.fa-angle-double-right
                            |  404 Error
                    li
                        a(href='/500')
                            i.fa.fa-angle-double-right
                            |  500 Error


