extends layout

block content
    div#main
        ul
            li
                router-link(to="/") Home
            li
                router-link(to="/check") Check
            li
                a(href="/check") Check Url Anch
        router-view
