extends layouts/dashboard_layout

block content
    aside.right-side
        section.content-header
            h1
                | Dashboard&nbsp;
                small Control panel
            ol.breadcrumb
                li
                    a(href='#')
                        i.fa.fa-dashboard
                        |  Home
                li.active Dashboard
        section.content
            .row
                .col-lg-3.col-xs-6
                    .small-box.bg-aqua
                        .inner
                            h3
                                | 150
                            p
                                | New Orders
                        .icon
                            i.ion.ion-bag
                        a.small-box-footer(href='#')
                            | More info&nbsp;
                            i.fa.fa-arrow-circle-right
                .col-lg-3.col-xs-6
                    .small-box.bg-green
                        .inner
                            h3
                                | 53
                                sup(style='font-size: 20px') %
                            p
                                | Bounce Rate
                        .icon
                            i.ion.ion-stats-bars
                        a.small-box-footer(href='#')
                            | More info&nbsp;
                            i.fa.fa-arrow-circle-right
                .col-lg-3.col-xs-6
                    .small-box.bg-yellow
                        .inner
                            h3
                                | 44
                            p
                                | User Registrations
                        .icon
                            i.ion.ion-person-add
                        a.small-box-footer(href='#')
                            | More info&nbsp;
                            i.fa.fa-arrow-circle-right
                .col-lg-3.col-xs-6
                    .small-box.bg-red
                        .inner
                            h3
                                | 65
                            p
                                | Unique Visitors
                        .icon
                            i.ion.ion-pie-graph
                        a.small-box-footer(href='#')
                            | More info&nbsp;
                            i.fa.fa-arrow-circle-right
            .row
                section.col-lg-12.connectedSortable
                    #loading-example.box.box-danger
                        .box-header
                            .pull-right.box-tools
                                button.btn.btn-danger.btn-sm.refresh-btn(data-toggle='tooltip', title='Reload')
                                    i.fa.fa-refresh
                                | &nbsp;
                                button.btn.btn-danger.btn-sm(data-widget='collapse', data-toggle='tooltip', title='Collapse')
                                    i.fa.fa-minus
                                | &nbsp;
                                button.btn.btn-danger.btn-sm(data-widget='remove', data-toggle='tooltip', title='Remove')
                                    i.fa.fa-times
                            i.fa.fa-cloud
                            h3.box-title Server Load
                        .box-body.no-padding
                            .row
                                .col-sm-12
                                    .pad
                                        .clearfix
                                            span.pull-left Bandwidth
                                            small.pull-right 10/200 GB
                                        .progress.xs
                                            .progress-bar.progress-bar-green(style='width: 70%;')
                                        .clearfix
                                            span.pull-left Transfered
                                            small.pull-right 10 GB
                                        .progress.xs
                                            .progress-bar.progress-bar-red(style='width: 70%;')
                                        .clearfix
                                            span.pull-left Activity
                                            small.pull-right 73%
                                        .progress.xs
                                            .progress-bar.progress-bar-light-blue(style='width: 70%;')
                                        .clearfix
                                            span.pull-left FTP
                                            small.pull-right 30 GB
                                        .progress.xs
                                            .progress-bar.progress-bar-aqua(style='width: 70%;')
                                        p
                                            button.btn.btn-default.btn-sm
                                                i.fa.fa-cloud-download
                                                |  Generate PDF

