extends ../layouts/signup_layout

block content
    #login-box.form-box
        .header Sign In
        form(action='/', method='get')
            .body.bg-gray
                .form-group
                    input.form-control(type='text', name='userid', placeholder='User ID')
                .form-group
                    input.form-control(type='password', name='password', placeholder='Password')
                .form-group
                    label.label-cus
                        input(type='checkbox', name='remember_me')
                        |  Remember me
            .footer
                button.btn.bg-olive.btn-block(type='submit') Sign me in
                p.text-right
                    a.text-info(href='#') I forgot my password
